@import './_vars';

*, *:before *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.app {
    display: flex;
    &__right {
        transition: 0.5s ease;
        width: calc(100% - 250px);
        position: absolute;
        right: 0;
        height: 100%;
    }
    @each $name, $color in $colors {
        --color-#{$name}: $color;
    }
}

#app-view {
    margin-top: 75px;
}

@media (max-width: 990px) {
    .app {
        &__right {
            width: 100%;
        }
    }
}