@import './_vars';

.navbar {
    font-family: $font;
    color: #f0f0f0;
    height: 75px;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__toggle {
        width: 80px;
        height: 100%;
        background-color: #2EB398;
        line-height: 75px;
        text-align: center;
        font-size: 2.3em;
        display: none;
    }
    &__logo {
        font-size: 1.5rem;
        height: 75px;
        margin: 0;
        line-height: 75px;
        margin: 0 20px;
        h1 {
            margin: 0;
        }
    }
    &__item-container {
        display: flex;
        & > div:first-child {
            width: calc(100% - 80px);
            display: flex;
        }
    }
    &__item-category {
        border-left: 2px solid rgba(59,70,72,0.45);
        height: 100%;
        display: flex;
        align-items: center;
        color: #89949B;
        font-size: 1.5rem;
    }

    &__item {
        width: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: white;
        }
        &--color {
            width: 20px;
            margin: 0 30px;
            border-radius: 100%;
            height: 20px;
            background-color: color(base);
        }
        &--flag {
            height: 30px;
            margin: 0 20px;
            width: 50px;
        }
    }

    &__power {
        transition: all 0.5s  cubic-bezier(0.73, 0.07, 0.19, 0.9);
        position: relative;
        right: 0;
        width: 80px;
        font-size: 2.5rem;
        text-align: center;
        line-height: 75px;
        background-color: color(base);
        color: white;
    }
}

.color-modal {
    transition: all 0.5s  cubic-bezier(0.73, 0.07, 0.19, 0.9);
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    text-align: center;
    cursor: default;
    &--active {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    &__title {
        display: block;
        font-weight: 100;
        width: 100%;
        height: 75px;
        line-height: 75px;
        position: relative;
        background-color: #43525A;
        color: #f0f0f0;
        top: -10%;
        margin-bottom: -25px;
    }

    &__color-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__color {
        width: 75px;
        height: 75px;
        margin:  3% 7%;
        border-radius: 10%;
        cursor: pointer;
        &:nth-child(1) {
            background-color: #E76049;
        }
        &:nth-child(2) {
            background-color: #2EB398;
        }
        &:nth-child(3) {
            background-color: #79B0EC;
        }
        &:nth-child(4) {
            background-color: #68A0A5;
        }
        &:nth-child(5) {
            background-color: #A8553A;
        }
        &:nth-child(6) {
            background-color: #B4A1DD;
        }
    }
}

@media (max-width: 1150px) {
    .navbar {
        &__item {
            &--color {
                display: none;
            }
        }
    }
}

@media (max-width: 990px) {
    .navbar {
        &__logo {
            margin: 0 20px;
        }
        &__toggle {
            display: block;
        }
        &__item {
            display: none;
        }
    }
}