@import './_vars';

/* 

    Sidebar

*/

.sidebar {
    position: fixed;
    transition: all 0.5s ease;
    width: 250px;
    background-color: #273135;
    color: #89949B;
    height: 100vh;
    margin-left: 0;
    z-index: 2;
    &__header {
        height: 75px;
        background-color: color(base);
        color: #FDE8FF;
        font-family: $font;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        margin: 0 0 5px 0;
        font-weight: 700;
        font-size: 1.1em;
    }

    &__image {
        height: 40px;
        border-radius: 100%;
    }

    &__stats {
        margin: 0 10px 0 15px;
        width: 115px;
    }

    &__level {
        margin: 0 0 5px 0;
        height: 4px;
        background-color: color(hover);
        filter: contrast(75%);
        width: 100%;
        &-progress {
            height: 100%;
            width: 40%;
            background-color: #fff;
        }
    }

    &__lock {
        margin-top: 10px;
        color: color(hover);
        filter: contrast(75%);
        font-size: 1.3em;
    }

    &__control {
        background-color: color(secondary);
        filter: contrast(85%) saturate(90%);
        height: 35px;
        position: relative;
        z-index: 5;
        &-item {
            width: 20%;
            text-align: center;
            line-height: 35px;
            height: 100%;
            color: color(text);
            &:not(:last-child) {
                border-right: 1px solid color(hover);
            }
            &:hover {
                background-color: color(hover);
                filter: contrast(95%) saturate(80%) brightness(110%);
            }
            &--active {
                background-color: color(active);
                color: color(active-text);
            }
        }
        ul {
            margin: 0;
            list-style-type: none;
            display: flex;
            padding: 0;
        }
    }

    &__container {
        width: 250px;
        height: calc(100vh - 110px);
        background-color: #ccc;
        display: flex;
        overflow: hidden;
    }

    &__category {
        overflow-y: scroll;
        transition: all 0.5s  cubic-bezier(0.73, 0.07, 0.19, 0.9);
        position: relative;
        overflow-x: hidden;
        left: 0;
        flex-shrink: 0;
        width: 250px;
        height: 100%;
        background-color: #273135;
    }
}

.sidebar-navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    &__search {
        background-color: transparent;
        border: 0;
        color: white;
        font-family: $font;
        margin-bottom: 0.5em;
        &:focus {
            outline: 0;
        }
    }
    &__divider {
        background-color: #666;
        width: calc(100% - 40px);
        height: 1px;
        display: block;
        flex-shrink: 0;
        margin-bottom: 1em;
    }
    &__end {
        margin: 3em 0;
    }
}

/* 

    Links Group 

*/

.links-group {
    font-family: $font;
    width: 250px;
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0 0 10px 0;
    }
    &__header {
        font-size: 0.9em;
        margin: 0 15px 10px 25px;
        color: #4D565B;
    }
    &__item {
        margin: 0;
        cursor: pointer;
        &--name {
            display:inline-block;
            padding-left: 15px;
        }
        p {
            margin: 0;
        }
        &--icon {
            margin-top: 2px;
            font-size: 0.95em;
            width: 10px;
        }
        &--dropdown {
            transition: 0.2s 0s linear;
            transform: rotate(90deg);
        }
        &--subcount {
            font-family: $font;
            text-align: center;
            line-height: 19px;
            border-radius: 2px;
            color: white;
            font-size: 0.8em;
            font-weight: 600;
            display: inline-block;
            margin-right: 15px;
            width: 25px;
            height: 20px;
            background-color: color(base);
            text-shadow: 0 0 25px rgba(0,0,0,0.9);
        }
    }
    &__link {
        text-decoration: none;
    }
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 15px 12px 25px;
        color: #89949B;
        text-decoration: none;
        width: 100%;
        font-size: 1em;
        &.router-link-active {
            border-left: 7px solid red;
            background-color: #1F272A;
            &:after {
                content:' ';
                position: absolute;
                display: block;
                right: 40px;
                width: 20px;
                height: 20px;
                background-color: #fff;
                transform: rotate(45deg);
            }
        }
        &--category {
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > span {
                 display: flex;
                 align-items: center;
            }
        }
        &:hover {
            background-color: #1F272A;
        }
    }
}

.subgroup {
    transition: 1s 0s linear;
    max-height: 0px;
    overflow: hidden;
    margin-left: 30px;
    width: 85%;
    .links-group {
        &__header {
            display: none;
        }
        &__container {
            overflow: hidden;  
            position: relative;
            border-left: 1px solid #666;
            &.router-link-active {
                border-left: 5px solid red;
                background-color: #1F272A;
                &:after {
                    right: 33px;
                }
            }
            &:before {
                content:' ';
                display: block;
                position: absolute;
                width: 10px;
                height: 1px;
                background-color: #666;
                top: 50%;
                left: 0;
                transform: translateY(-50%)
            }
        }
    }
}

/* 

    Contact Group 

*/

.contact-group {
    font-family: $font;
    &__title {
        font-size: 0.85em;
        color: rgba(137,148,155,0.4);
        margin: 20px 0 10px 0;
        padding-left: 25px;
    }
    &__item {
        display:flex;
        width: 100%;
        padding: 7px 0px;
        padding-left: 25px;
        &:hover {
            background-color: #1f272a;
        }
    }
    &__image {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    &__name {
        margin: 0;
        line-height: 30px;
        color: #89949B;
        font-size: 1.1em;
    }
    &:last-child {
        filter: brightness(65%);
    }
}


@media (max-width: 990px) {
    .sidebar {
        margin-left: -250px;
    }
}