@import './_vars';

.sidebar {
    transition: all 0.5s ease;
    width: 250px;
    background-color: #273135;
    color: #89949B;
    height: 100vh;
    margin-left: 0;
    &__header {
        height: 75px;
        background-color: color(base);
        color: #FDE8FF;
        font-family: $font;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        margin: 0 0 5px 0;
        font-weight: 700;
        font-size: 1.1em;
    }

    &__image {
        height: 40px;
        border-radius: 100%;
    }

    &__stats {
        margin: 0 10px 0 15px;
        width: 115px;
    }

    &__level {
        margin: 0 0 5px 0;
        height: 4px;
        background-color: color(hover);
        filter: contrast(75%);
        width: 100%;
        &-progress {
            height: 100%;
            width: 40%;
            background-color: #fff;
        }
    }

    &__lock {
        margin-top: 10px;
        color: color(hover);
        filter: contrast(75%);
        font-size: 1.3em;
    }

    &__control {
        background-color: color(secondary);
        filter: contrast(85%) saturate(90%);
        height: 35px;
        position: relative;
        z-index: 5;
        &-item {
            width: 20%;
            text-align: center;
            line-height: 35px;
            height: 100%;
            color: color(text);
            &:not(:last-child) {
                border-right: 1px solid color(hover);
            }
            &:hover {
                background-color: color(hover);
                filter: contrast(95%) saturate(80%) brightness(110%);
            }
            &--active {
                background-color: color(active);
                color: color(active-text);
            }
        }
        ul {
            margin: 0;
            list-style-type: none;
            display: flex;
            padding: 0;
        }
    }

    &__container {
        width: 250px;
        height: calc(100vh - 110px);
        background-color: #ccc;
        display: flex;
        overflow: hidden;
    }

    &__category {
        overflow-y: scroll;
        transition: all 0.5s  cubic-bezier(0.73, 0.07, 0.19, 0.9);
        position: relative;
        overflow-x: hidden;
        left: 0;
        flex-shrink: 0;
        width: 250px;
        height: 100%;
        background-color: #273135;
    }
}

.sidebar-navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    &__search {
        background-color: transparent;
        border: 0;
        color: white;
        font-family: $font;
        margin-bottom: 0.5em;
        &:focus {
            outline: 0;
        }
    }
    &__divider {
        background-color: #666;
        width: calc(100% - 40px);
        height: 1px;
        display: block;
        flex-shrink: 0;
        margin-bottom: 1em;
    }
    &__end {
        margin: 3em 0;
    }
}

@media (max-width: 990px) {
    .sidebar {
        margin-left: -250px;
    }
}