@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$font: 'Lato', sans-serif;

$colors: (
  base: #FA7252,
  secondary: darken(#FA7252, 10%),
  hover: darken(#FA7252, 15%),
  active: darken(#FA7252, 35%),
  text: darken(#FA7252, 45%),
  active-text: lighten(#FA7252, 20%)
);

@function color($color-name) {
  @return var(--color-#{$color-name});
}